
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #873ba2;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ffae80;
  color: rgb(71, 0, 45);
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

img{
    margin-left: 250px;
 
 }

.footer {
    background-color: #b14978;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    margin-top: 100px;
  }

  